In [1]:
a = [1,2,3]
b = a
b

[1, 2, 3]

在 python 中，a 和 b 现在都指向同一个 object

In [2]:
a.append(4)
b

[1, 2, 3, 4]

In [ ]:
def append_elements(some_list, element): #pass objects as arguments to a function
    some_list.append(element)

data = [1, 2, 3]
append_elements(data, 4)
data

[1, 2, 3, 4]

In [ ]:
a = 'foo'
#getattr(a, 'upper')
#hasattr(a, 'upper')
a.upper() # methods调用带()，attributes调用不带()

'FOO'

In [3]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

isiterable(1)
isiterable([1,2,3])
isiterable('abc')

True

In [ ]:
a = 'this is a string'

a[10] = 'f'  # string is immutable

TypeError: 'str' object does not support item assignment

In [11]:
b = a.replace('string', 'long string')

b

'this is a long string'

In [ ]:
s = 5.66
w = str(s)
w[:-2]  # 字符串是 Unicode 字符序列，因此可以像其他序列一样处理，例如列表和元组

'5.'

In [18]:
s = '12\\34'
print(s)

12\34

In [ ]:
name = r''' # r stands for raw string
张柏芝
谢霆锋
'''
name  #有时候不知道 string 怎么写可以用这个方法

'\n张柏芝\n谢霆锋\n'

In [20]:
a = None

a is not None

False

In [21]:
b = 0
b is None

False

In [28]:
from datetime import datetime, date, time

dt = datetime.now()

# attributes of datetime object
# date.day
# date.month
# date.year
# time.hour

# methods of datetime object
dt.date()
dt.time()

datetime.time(16, 0, 0, 215737)

常用：convert string to datetime

In [31]:
datetime.strptime("20091031", "%Y%m%d") 
# 2nd argument is format
# format rule is %Y for year, %m for month, %d for day

date_string = "2023-12-25"
datetime_obj = datetime.strptime(date_string, "%Y-%m-%d")
datetime_obj

datetime.datetime(2023, 12, 25, 0, 0)

In [32]:
dt2 = datetime(1992, 2, 14, 6, 30, 0)

age = dt - dt2

age

datetime.timedelta(days=12250, seconds=34200, microseconds=215737)

## Control Flow

In [36]:
x = 2
if x < 7:
    print("it's too small")
elif x > 7:
    print("it's too big")
else:
    print("it's just right")

it's too small

### FOR LOOPS

In [ ]:
sequence = [1, 2, None, 3, None, 4]
sum = 0
for num in sequence:
    if num is None:
        continue # 使用 continue 关键字将 for 循环推进到下一次迭代，跳过块的其余部分。
    sum += num

sum

10

In [ ]:
sequence2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_until_4 = 0
for i in sequence2:
    if i > 4:
        break # 停止迭代
    sum_until_4 += i

print(sum_until_4)

10

In [39]:
for i in range(4):
    for j in range(4):
        if i < j:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

### WHILE LOOPS

In [44]:
x = 256
sum = 0
while x > 0:
    if sum > 500:
        break
    sum += x
    x //= 2
sum

504

pass 是 Python 中的“no-op”（或“不做任何事情”）语句。

In [ ]:
if x < 0:
    print('negative')
elif x == 0:
    pass  # do nothing
else:
    print('positive')

positive

### range
包含 start，不含 stop
- ✅ start < stop 且 step > 0
- ✅ start > stop 且 step < 0
- ❌ start < stop 且 step < 0 (会产生空序列)
- ❌ start > stop 且 step > 0 (会产生空序列)

In [51]:
i = range(10)
j = range(1,10)
i

range(0, 10)

In [52]:
j

range(1, 10)

In [53]:
list(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
list(range(1, 10, -2)) 
# 空序列
# 起始: 1
# 目标: 到达 10 (不包含)
# 方向: 每次 -2 (递减)
# 
# 1 → 1-2 = -1 → -1-2 = -3 → -3-2 = -5 → ...

[]

In [57]:
# 此代码段将 0 到 99,999 中 3 或 5 的倍数的所有数字相加
sum = 0
for i in range(0, 100000):
    if i % 3 == 0 or i % 5 == 0:
        sum += i
sum

2333316668